  <h1>Choose recipe:</h1>
  <ol>
    <% @names.each_with_index do |name, index| %>
      <li>
        <a href="import_recipe/<%= index %>&<%= @ingredient %>"><%= name %></a>
      </li>
    <% end %>
  </ol>
