  <h1>Choose recipe to import:</h1>
  <br>
  <div class="list-group">
    <% @names.each_with_index do |name, index| %>
      <a href="import_recipe/<%= index %>&<%= @ingredient %>" class="list-group-item list-group-item-action">
        <%= name %>
      </a>
    <% end %>
  </div>
