<h1>Import recipe:</h1>
<br>
<form action="/choose_recipe" method="post">
    <input type="text" name="ingredient" id="ingredient" class="form-control" placeholder="Enter ingredient you want to search for" required>
  </label>
  <br>
  <button type="submit" id="submit" class="btn btn-success">Submit</button>
</form>

