<h1>Import recipe:</h1>

<form action="/choose_recipe" method="post">
  <label for="name">
    Ingredient: <br>
    <input type="text" name="ingredient" id="ingredient" placeholder="Enter the ingredient name" required>
  </label>
  <br>
  <button type="submit" id="submit">Submit</button>
</form>

