<h1>Add new recipe:</h1>

<form action="/recipes" method="post">
  <label for="name" class="form-label">
    Name: <br>
    <input type="text" name="name" id="name" class="form-control" placeholder="Enter the recipe name" required>
  </label>
  <br>
  <label for="description" class="form-label">
    Description: <br>
    <input type="text" name="description" id="description" class="form-control" placeholder="Enter the description" required>
  </label>
  <br>
  <label for="preptime" class="form-label">
    Preparation time (mins): <br>
    <input type="text" name="preptime" id="preptime" class="form-control" placeholder="Enter the prep time" required>
  </label>
  <br>
  <label for="rating" class="form-label">
    Rating (out of 5): <br>
    <input type="number" name="rating" id="rating" class="form-control" min="0" max="5" required>
  </label>
  <br>
  <button type="submit" id="submit" class="btn btn-success">Submit</button>
</form>
